html {
    height: 100%;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #03fcce;
    background: linear-gradient(50deg, #03fcce, purple);


}

div {
    background-color: #141313;
    width: 350px;
    position: relative;
    margin-bottom: 10PX;


}

.first {
    padding-bottom: 1px;
}

.firsttagline {
    font-size: 12px;
    color: #FFFFFF;

    text-align: center;
    margin-top: 1px;


}

.websitename {
    font-size: 12px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    background-color: black;
    width: fit-content;
    padding: 5px 18px 5px 18px;

}

.strip {

    background-color: #FDBD10;

    margin: 27px 0px 13px 0px;



}

.firstimage {
    margin-top: 35px;
    margin-left: 134px;
    border: 0px;
}

.back {

    display: flex;
    height: 200px;

    justify-content: center;
}

.vl {

    background-color: #FDBD10;
    width: 74px;
    text-align: center;
    padding-bottom: 7px;

}

.secondimage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 19px;
    margin-top: 19px;
    padding: 0px;

    margin-right: 19px;
    align-items: center;
    text-align: center;
}

.backside {
    font-size: 12px;
    color: #FFFFFF;
    width: 151px;
}

.yourname {
    margin-top: 35px;


    font-size: 12px;
    color: whitesmoke;
    text-align: left;

}

.you {
    margin-left: 19px;
}

.icon {
    margin-top: 35px;

    margin-bottom: 7px;
}

.ui {
    color: gainsboro;
    font-size: 6.07px;
    margin-bottom: 55px;
    margin-left: 19px;
}

.info {
    margin: 14px;
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0px;
}

.center {
    background: #FDBD10;
    padding-top: 14px;
    border-radius: 14px 14px 0 0;

    width: 100%;
}

.icon2 {
    background: black;


    padding-top: 35px;
    border-radius: 100px;
    width: 100%;
}

span {
    color: #FDBD10;
    font-weight: bolder;

}

/* ANIMATION */

.card {

    transition: 0.9s;
    height: 200px;

    perspective: 1000px;
    transform-style: preserve-3d;

}


.card:hover {



    transform: rotateY(180deg);
    cursor: pointer;


}

.first,
.back {
    position: absolute;
    backface-visibility: hidden;
}

.first {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}